[SddmGreeterTheme]
Name=sddm-dark-ages-theme
Description=DOOM: The Dark Ages style login, based on sddm-astronaut-theme by Keyitdev
Author=keyitdev
Website=https://github.com/Keyitdev/sddm-astronaut-theme
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.4
ConfigFile=Themes/dark_ages.conf
Screenshot=Backgrounds/dark_ages.jpg
MainScript=Main.qml
TranslationsDirectory=translations
Theme-Id=sddm-dark-ages-theme
Theme-API=2.0
QtVersion=6
